Repository juan-miii/juan-miii, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions, config

Reduce frequency of GitHub Actions updates
  .github/dependabot.yml
Labels: config

Update links on README
  .github/README.md
Labels: documentation

Add group for GitHub Actions in Dependabot config
  .github/dependabot.yml
Labels: config

Modify link checker args to include README.md
  .github/workflows/links.yml
Labels: github_actions

Modify link checker args to include README.md
  .github/workflows/links.yml
Labels: github_actions

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          [
            ".gitignore",
            ".gitattibutes",
            ".lycheeignore",
            ".github/labeler.yml",
            ".github/dependabot.yml",
            ".github/ISSUE_TEMPLATE/config.yml",
            ".vscode/settings.json",
          ]
